<script>
  window.addEventListener("keydown", function (e) {
    // scroll page up
    if (e.key == "[") {
      //window.scroll(0, window.scrollY - window.innerHeight * 0.6);
      window.scroll({
        top: window.scrollY - window.innerHeight * 0.4,
        left: 0,
        behavior: "smooth",
      });
    }

    // scroll page down
    if (e.key == "]") {
      //window.scroll(0, window.scrollY + window.innerHeight * 0.8);
      window.scroll({
        top: window.scrollY + window.innerHeight * 0.4,
        left: 0,
        behavior: "smooth",
      });
    }

    if (e.key == "9") {
      page_scroll();
    }

    if (e.key == "0") {
      stop_scroll();
    }

    if (e.key == "-") {
      scrollRateDec();
    }

    if (e.key == "=") {
      scrollRateInc();
    }
  });

  function page_scroll() {
    stop_scroll();

    var bottom = $(document).height() - $(window).height();
    var duration = getDuration(bottom);
    console.log("duration=" + duration);
    $("HTML, BODY").animate(
      {
        scrollTop: bottom,
      },
      duration,
      "linear"
    );

    //$("html, body").animate({ scrollTop: $(document).height() }, 20000);
  }

  function stop_scroll() {
    $("html, body").stop();
  }

  function scrollRateInc() {
    scrollRate = scrollRate * 0.8;
    console.log("scrollRate=" + scrollRate);
    page_scroll();
  }

  function scrollRateDec() {
    scrollRate = scrollRate * 1.2;
    console.log("scrollRate=" + scrollRate);
    page_scroll();
  }

  var scrollRate = 20;

  function getDuration(target) {
    console.log("scrollRate=" + scrollRate);
    var currentTop = $(window).scrollTop(),
      rate = scrollRate, // 0.5 = 1000px/500ms
      distance;
    distance = Math.abs(currentTop - target);
    return distance * rate;
  }

  $(document).ready(function () {
    $("article section.page div.content").each(function () {
      var line = 1; //start with number 1
      $("p", this).each(function () {
        //look for paragraph elements inside wrapper
        $(this).prepend(
          "<a name='p" +
            line +
            "' href='#p" +
            line +
            "' style='font-size: 50%;'>[p" +
            line +
            "]</a>"
        ); //add class with line number
        line++;
      });
    });

    console.log('window.location.hash=' + window.location.hash);

    if(window.location.hash) {
      window.location=window.location.href;
    }
  });
</script>
